@model InstagramWrapper.Web.Test.Models.ProfileModel
@if (Model.followstatus.data.outgoing_status == "none")
{
<form action="/Instagram/Follow" method="get">
    <button type="submit">
            <b>Follow</b>
    </button>
    @Html.Hidden("UId", Model.Id)
    @Html.Hidden("actn", "follow")
</form>
}
else
{
    <form action="/Instagram/Follow" method="get">
        <button type="submit">
            <b>@Model.followstatus.data.outgoing_status</b>
        </button>
        @Html.Hidden("UId", Model.Id)
        @Html.Hidden("actn", "unfollow")
    </form>

}
<br />
<h2>This user profile is private</h2>